_libgcc_mutex
_openmp_mutex
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
arrow-cpp
asciitree
asttokens
async-lru
async-timeout
attrs
babel
backports
backports.functools_lru_cache
beautifulsoup4
blas
bleach
boost-cpp
bottleneck
brotli-python
bzip2
c-ares
ca-certificates
cached-property
cached_property
certifi
cffi
charset-normalizer
click
colorama
comm
cuda-cudart
cuda-cupti
cuda-libraries
cuda-nvrtc
cuda-nvtx
cuda-opencl
cuda-runtime
cuda-version
datasets
debugpy
decorator
defusedxml
dill
dnspython
email-validator
email_validator
entrypoints
exceptiongroup
executing
fastapi
fastapi-cli
filelock
flit-core
fqdn
freetype
frozenlist
fsspec
gflags
giflib
glog
gmp
gmpy2
h11
h2
hpack
httpcore
httptools
httpx
huggingface_hub
hyperframe
icu
idna
importlib-metadata
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
jinja2
joblib
jpeg
json5
jsonpointer
jsonschema
jsonschema-specifications
jsonschema-with-format-nongpl
jupyter-lsp
jupyter_client
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keyutils
krb5
lcms2
ld_impl_linux-64
lerc
levenshtein
libabseil
libbrotlicommon
libbrotlidec
libbrotlienc
libcublas
libcufft
libcufile
libcurand
libcurl
libcusolver
libcusparse
libcxx
libcxxabi
libdeflate
libedit
libev
libevent
libffi
libgcc
libgcc-ng
libgfortran-ng
libgfortran5
libgomp
libgrpc
libjpeg-turbo
libnghttp2
libnpp
libnvfatbin
libnvjitlink
libnvjpeg
libopenblas
libpng
libprotobuf
libsentencepiece
libsodium
libsqlite
libssh2
libstdcxx
libstdcxx-ng
libthrift
libtiff
libuuid
libuv
libwebp
libwebp-base
libzlib
llvm-openmp
lz4-c
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mistune
mpc
mpfr
mpmath
multidict
multiprocess
nbclient
nbconvert
nbconvert-core
nbconvert-pandoc
nbformat
ncurses
nest-asyncio
networkx
nomkl
notebook
notebook-shim
numexpr
ocl-icd
openblas
opencl-headers
openjpeg
openssl
orc
overrides
packaging
pandas
pandoc
pandocfilters
parso
pexpect
pickleshare
pillow
pip
pkgutil-resolve-name
platformdirs
prometheus_client
prompt-toolkit
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic-core
pygments
pysocks
python
python-dateutil
python-dotenv
python-fastjsonschema
python-json-logger
python-levenshtein
python-multipart
python-tzdata
python-xxhash
python_abi
pytorch-cuda
pytz
pyyaml
pyzmq
rapidfuzz
re2
readline
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rich-toolkit
rpds-py
s2n
safetensors
scikit-learn
scipy
send2trash
sentencepiece
sentencepiece-python
sentencepiece-spm
setuptools
shellingham
six
snappy
sniffio
soupsieve
sqlite
stack_data
starlette
terminado
thefuzz
threadpoolctl
tinycss2
tk
tokenizers
tomli
tornado
tqdm
traitlets
transformers
typer
typer-slim
typer-slim-standard
types-python-dateutil
typing-extensions
typing_extensions
typing_utils
tzdata
uri-template
urllib3
utf8proc
uvicorn
uvicorn-standard
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wheel
xxhash
xz
yaml
yarl
zeromq
zipp
zlib
zstandard
zstd
automat
chardet
constantly
cryptography
cssselect
data
distro
et-xmlfile
frozendict
funcsigs
future
html5lib
hyperlink
incremental
itemadapter
itemloaders
jiter
jmespath
latex
lxml
multitasking
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
openpyxl
parsel
pdfminer-six
pdfplumber
peewee
plotly
protego
pyasn1
pyasn1-modules
pydantic
pydispatcher
pymupdf
pyopenssl
pypdf2
pypdfium2
queuelib
readability-lxml
requests-file
scrapy
sentence-transformers
service-identity
shutilwhich
sympy
tempdir
tenacity
tldextract
torch
torchaudio
torchvision
triton
twisted
w3lib
yfinance
zope-interface
